:root {
    --primary: rgb(99, 199, 249);
    --secondary: rgb(46, 45, 45);
    --tertiary: rgb(255, 255, 255);
}

.hero {
    height: 600px;
    width: 100%;
    background-image: url("../images/running-girl.jpg");
    background-size: cover;
    background-position: center;
}

header {
    background-color: var(--primary);
}

.navbar {
    background-color: var(--primary);
    color: var(--tertiary);
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    
}


a {
    color: var(--tertiary);

}

.card-header.column{
    background-color: var(--primary);
}

#search-form-section {
    color: var(--tertiary);
    padding-left: 5px;
    padding-bottom: 15px;
    
}

.label {
    color: var(--tertiary);
}

.radio {
    color: var(--tertiary);
}


body {
    background-color: var(--tertiary);
    
}

.block {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--primary);
    padding-left: 10px;
    font-weight: bold;
    font-size: x-large;
  }

.btn {
    font-size: medium;
    text-decoration: var(--tertiary);
    width: 100%;
    display: block;
    margin: auto;
}
.column {
    background-color: var(--primary);
}
