:root {
    --primary: rgb(99, 199, 249);
    --secondary: rgb(46, 45, 45);
    --tertiary: rgb(255, 255, 255);
}

/* We might need to change the background image if this image isn't free to use and share or in the public domain */
.hero {
    height: 400px;
    width: 100%;
    background-image: url("../images/running-girl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    background-position: top;
}

/* I don't think we need the same background image in the header (FD). The same image causes image alignment issues for the hero and header/nav. We could use a different image or background color. */
header {
    padding: 20px 35px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

header a {
    text-decoration: none;
    color: var(--tertiary);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



a {
    color: var(--tertiary);
}

.bulma-overlay-mixin {
    /* overlay: 1.5rem; */
    background-color: #FFB81C;
    border-radius: 0.50em;
    color: white;
    opacity: 0.8;
    padding: 1em;
    display: block;
    border: 1px solid var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 3.5%;

}


/* Needs bulma css styles */
#search-form-section {
    /* background-color: var(--primary); */
    /* padding: 20px; */
    /* color: #024e76; */
    /* border-style: solid; */
    /* border-width: 3px; */
    /* border-color: #024e76; */
    /* width: 100%; */
}




.bpm-search {
    width: 18%;
    margin: 3.5%;
    border-radius: 20px;
}

.label {
    color: black;
    font-size: 30px;
}

#dropdown {
    font-size: 20px;
}

.radio {
    color: var(--tertiary);
}


body {
    background-color: var(--tertiary);
    
    background-color: var(--primary);

}

.block {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--primary);
    padding-left: 10px;
    font-weight: bold;
    font-size: x-large;
}

.btn {
    font-size: medium;
    text-decoration: var(--tertiary);
    width: 100%;
    display: block;
    margin: auto;
}

.column {
    background-color: var(--primary);
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


main {
    height: 100vh;
}

.song {
    border: solid 1px darkgrey;
    border-radius: 7px;
    margin: 10px;
    padding-bottom: 5px;
}

.song-info {
    margin: 10px 0;
    padding: 0;
    padding-left: 5px;
}

.song-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0 5px;
}

.song-addtl-info {
    margin: 0 0 5px;
    /* margin-top: 0; */
    padding: 0;
}

.artist,
.genres {
    margin: 5px 0;
    padding: 0;
    font-size: 16px;
}

.artist {
    padding-left: 5px;
}

.genres {
    display: flex;
    justify-content: end;
}

.genre {
    padding-left: 2px;
}

.add-to-playlist {

    margin: 0;
    padding: 0;
}

.add-to-playlist button {
    width: 50%;
    height: 50%;
    margin: auto;
    border: none;
    background-color: inherit;
}

.fa-plus {
    color: greenyellow;
    width: 100%;
    font-size: 24px;
}

/* Drop down menu styles */
select {
    border: 1px solid black;
    font-size: x-large;
    font-weight: lighter;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}